In [1]:
import pandas as pd

In [2]:
# Read csv
weather_data="weather.csv"
weather_data = pd.read_csv(weather_data)
weather_data

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,4.49,0.33,3.24,5.62,...,118,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
1,284000400,1979-01-01 01:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,4.54,0.22,3.19,5.75,...,129,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
2,284004000,1979-01-01 02:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,4.71,-0.03,3.17,6.08,...,123,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
3,284007600,1979-01-01 03:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,6.24,2.42,5.68,6.84,...,140,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
4,284011200,1979-01-01 04:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,6.88,3.16,6.02,7.83,...,159,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372134,1594580400,2020-07-12 19:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,26.25,28.48,23.00,28.89,...,160,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10d
372135,1594584000,2020-07-12 20:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,26.07,27.91,24.13,27.22,...,180,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d
372136,1594587600,2020-07-12 21:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,25.52,26.42,22.78,27.78,...,230,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d
372137,1594591200,2020-07-12 22:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,24.84,23.92,22.22,27.22,...,320,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d
372138,1594594800,2020-07-12 23:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,24.01,22.33,22.22,25.00,...,330,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d

In [17]:
# Drop city_name, lat, lon, NaN values, weather_id, weather_icon
# weather_data.drop(columns = ['city_name', 'lat','lon','weather_id','weather_icon'])

weather_data = weather_data.dropna(axis='columns')
weather_data["Date"] = (weather_data["dt_iso"].str.split(" ", n = 1, expand = True))[0]
weather_data["Hour"] = (weather_data["dt_iso"].str.split(" ", n = 1, expand = True))[1].str.split(":", n =1 , expand = True)[0]
weather_data = weather_data.drop(['dt_iso'],axis=1)
weather_data

,dt,timezone,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_main,weather_description,Date,Hour
345603,1499644800,-14400,23.02,19.81,20.00,25.00,1013,46,4.95,227,92,Clouds,overcast clouds,2017-07-10,00
345604,1499648400,-14400,22.36,19.46,19.00,24.60,1013,48,4.53,229,99,Clouds,overcast clouds,2017-07-10,01
345605,1499652000,-14400,21.04,17.65,18.20,23.10,1014,46,4.52,230,97,Clouds,overcast clouds,2017-07-10,02
345606,1499655600,-14400,19.61,18.26,18.20,20.85,1014,64,3.09,270,90,Clouds,overcast clouds,2017-07-10,03
345607,1499659200,-14400,19.33,18.79,18.00,20.39,1014,81,3.60,246,89,Rain,light rain,2017-07-10,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372061,1594324800,-14400,32.47,37.58,28.01,35.56,1004,79,5.10,70,1,Clear,sky is clear,2020-07-09,20
372062,1594328400,-14400,31.75,36.29,28.01,35.00,1003,74,4.10,80,1,Clear,sky is clear,2020-07-09,21
372063,1594332000,-14400,31.25,36.92,28.01,33.89,1003,79,3.10,90,1,Clear,sky is clear,2020-07-09,22
372064,1594335600,-14400,30.17,35.35,27.04,32.78,1004,83,3.60,70,1,Clear,sky is clear,2020-07-09,23
372065,1594339200,-14400,28.13,32.28,26.00,30.00,1004,88,4.10,70,1,Clear,sky is clear,2020-07-10,00

In [20]:
# Filter 01-05-2003 to 11-07-2020
weather_data = weather_data[(weather_data['dt'] >= 1041742800) & (weather_data['dt'] <= 1604725200)]
weather_data

,dt,timezone,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_main,weather_description,Date,Hour
345603,1499644800,-14400,23.02,19.81,20.00,25.00,1013,46,4.95,227,92,Clouds,overcast clouds,2017-07-10,00
345604,1499648400,-14400,22.36,19.46,19.00,24.60,1013,48,4.53,229,99,Clouds,overcast clouds,2017-07-10,01
345605,1499652000,-14400,21.04,17.65,18.20,23.10,1014,46,4.52,230,97,Clouds,overcast clouds,2017-07-10,02
345606,1499655600,-14400,19.61,18.26,18.20,20.85,1014,64,3.09,270,90,Clouds,overcast clouds,2017-07-10,03
345607,1499659200,-14400,19.33,18.79,18.00,20.39,1014,81,3.60,246,89,Rain,light rain,2017-07-10,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372061,1594324800,-14400,32.47,37.58,28.01,35.56,1004,79,5.10,70,1,Clear,sky is clear,2020-07-09,20
372062,1594328400,-14400,31.75,36.29,28.01,35.00,1003,74,4.10,80,1,Clear,sky is clear,2020-07-09,21
372063,1594332000,-14400,31.25,36.92,28.01,33.89,1003,79,3.10,90,1,Clear,sky is clear,2020-07-09,22
372064,1594335600,-14400,30.17,35.35,27.04,32.78,1004,83,3.60,70,1,Clear,sky is clear,2020-07-09,23
372065,1594339200,-14400,28.13,32.28,26.00,30.00,1004,88,4.10,70,1,Clear,sky is clear,2020-07-10,00

In [21]:
weather_data.to_csv("weather_data.csv")

In [11]:
#jsonify
from pandas import DataFrame
weather_data.to_json('weather_data.json')