In [1]:
import pandas as pd

In [2]:
# Read csv
weather_data="weather.csv"
weather_data = pd.read_csv(weather_data)
weather_data

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,4.49,0.33,3.24,5.62,...,118,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
1,284000400,1979-01-01 01:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,4.54,0.22,3.19,5.75,...,129,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
2,284004000,1979-01-01 02:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,4.71,-0.03,3.17,6.08,...,123,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
3,284007600,1979-01-01 03:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,6.24,2.42,5.68,6.84,...,140,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
4,284011200,1979-01-01 04:00:00 +0000 UTC,-18000,Custom location,43.674289,-79.396635,6.88,3.16,6.02,7.83,...,159,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372134,1594580400,2020-07-12 19:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,26.25,28.48,23.00,28.89,...,160,NaN,NaN,NaN,NaN,90,500,Rain,light rain,10d
372135,1594584000,2020-07-12 20:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,26.07,27.91,24.13,27.22,...,180,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d
372136,1594587600,2020-07-12 21:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,25.52,26.42,22.78,27.78,...,230,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d
372137,1594591200,2020-07-12 22:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,24.84,23.92,22.22,27.22,...,320,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d
372138,1594594800,2020-07-12 23:00:00 +0000 UTC,-14400,Custom location,43.674289,-79.396635,24.01,22.33,22.22,25.00,...,330,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01d

In [3]:
# Drop 'dt_iso', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h','weather_icon','city_name', 'lat', 'lon', 'weather_id', 'sea_level', 'grnd_level'
# Split the dt to Date and Hour

weather_data["Date"] = (weather_data["dt_iso"].str.split(" ", n = 1, expand = True))[0]
weather_data["Hour"] = (weather_data["dt_iso"].str.split(" ", n = 1, expand = True))[1].str.split(":", n =1 , expand = True)[0]
weather_data = weather_data.drop(['dt_iso', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h','weather_icon','city_name', 'lat', 'lon', 'weather_id', 'sea_level', 'grnd_level'],axis=1)
weather_data

,dt,timezone,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_main,weather_description,Date,Hour
0,283996800,-18000,4.49,0.33,3.24,5.62,1016,94,3.96,118,100,Clouds,overcast clouds,1979-01-01,00
1,284000400,-18000,4.54,0.22,3.19,5.75,1015,94,4.19,129,100,Clouds,overcast clouds,1979-01-01,01
2,284004000,-18000,4.71,-0.03,3.17,6.08,1013,95,4.88,123,100,Clouds,overcast clouds,1979-01-01,02
3,284007600,-18000,6.24,2.42,5.68,6.84,1011,93,3.90,140,100,Clouds,overcast clouds,1979-01-01,03
4,284011200,-18000,6.88,3.16,6.02,7.83,1010,93,3.95,159,100,Clouds,overcast clouds,1979-01-01,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372134,1594580400,-14400,26.25,28.48,23.00,28.89,998,78,3.60,160,90,Rain,light rain,2020-07-12,19
372135,1594584000,-14400,26.07,27.91,24.13,27.22,1005,69,2.60,180,40,Clouds,scattered clouds,2020-07-12,20
372136,1594587600,-14400,25.52,26.42,22.78,27.78,999,69,3.60,230,40,Clouds,scattered clouds,2020-07-12,21
372137,1594591200,-14400,24.84,23.92,22.22,27.22,1000,61,4.60,320,75,Clouds,broken clouds,2020-07-12,22
372138,1594594800,-14400,24.01,22.33,22.22,25.00,1006,60,5.10,330,1,Clear,sky is clear,2020-07-12,23

In [4]:
# Filter 01-05-2003 to 11-07-2020
weather_data = weather_data[(weather_data['dt'] >= 1041742800) & (weather_data['dt'] <= 1604725200)]
weather_data

,dt,timezone,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_main,weather_description,Date,Hour
217754,1041742800,-18000,-2.36,-7.19,-5.06,-0.80,1017,79,3.1,280,90,Clouds,overcast clouds,2003-01-05,05
217755,1041746400,-18000,-2.33,-8.69,-4.55,-0.80,1017,71,5.1,280,90,Clouds,overcast clouds,2003-01-05,06
217756,1041750000,-18000,-2.44,-6.68,-4.74,-1.10,1017,73,2.1,300,90,Clouds,overcast clouds,2003-01-05,07
217757,1041753600,-18000,-2.72,-7.42,-5.45,-1.20,1017,68,2.6,280,90,Clouds,overcast clouds,2003-01-05,08
217758,1041757200,-18000,-3.43,-7.76,-6.89,-1.20,1017,73,2.1,250,90,Clouds,overcast clouds,2003-01-05,09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372134,1594580400,-14400,26.25,28.48,23.00,28.89,998,78,3.6,160,90,Rain,light rain,2020-07-12,19
372135,1594584000,-14400,26.07,27.91,24.13,27.22,1005,69,2.6,180,40,Clouds,scattered clouds,2020-07-12,20
372136,1594587600,-14400,25.52,26.42,22.78,27.78,999,69,3.6,230,40,Clouds,scattered clouds,2020-07-12,21
372137,1594591200,-14400,24.84,23.92,22.22,27.22,1000,61,4.6,320,75,Clouds,broken clouds,2020-07-12,22
372138,1594594800,-14400,24.01,22.33,22.22,25.00,1006,60,5.1,330,1,Clear,sky is clear,2020-07-12,23

In [5]:
#Export data to csv
weather_data.to_csv("weather_data.csv")

In [ ]:
#jsonify
from pandas import DataFrame
weather_data.to_json('weather_data.json')